---
- name: Test environnement local Odoo + ic_webapp_role
  hosts: localhost
  connection: local
  become: false

  roles:
    - odoo_role
    - ic-webapp_role

  tasks:
    - name: Vérifier que Odoo écoute sur le port 8069
      ansible.builtin.wait_for:
        port: 8069
        timeout: 60

    - name: Vérifier que Ic_webapp écoute sur le port 8080
      ansible.builtin.wait_for:
        port: 8080
        timeout: 60

    - name: Vérifier la page d'accueil d'Odoo
      ansible.builtin.uri:
        url: http://localhost:8069
        return_content: yes
      register: odoo_homepage

    - name: Vérifier que la page contient le mot "Odoo"
      ansible.builtin.assert:
        that:
          - "'Odoo' in odoo_homepage.content"